@media (min-width: 1921px) {
div#logo {
	float: left;	
	width: 1187px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	width: 453px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 115px;
	margin-bottom: 50px;
	padding-left: 125px;
	padding-right: 66px;	
}
.nowe_menu ul.menu1 p a,
.nowe_menu ul.menu2 p a {
	width: 240px;
}
.navigation_top,
.navigation2_top {
	margin-left: 90.4%;	
}
div.main {
	float: left;
	width: 732px;
	padding-left: 66px;
	padding-right: 66px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.clsid:D27CDB6E-AE6D-11cf-96B8-444553540000 {
	width: 100%;
}
.navigation_bottom {
	margin-left: 96.3%;
}
div.others {
	float: left;
	width: 29%;/*32%;*/
	margin-top: 73px;
	margin-right: 116px;
	margin-bottom: 50px;
	padding-left: 66px;
	padding-right: 0px;	
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;/*24px;*/
	margin-bottom: 20px;	
}
div.footer {
	width: 732px;
	margin-left: 453px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 498px;
	width: 1097px;
	padding-right: 0px;
}
}


@media (max-width:1920px) and (min-width:1601px){
div#logo {
	float: left;	
	width: 1187px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
	margin-left: 70px;
}
div.nowe_menu {
	width: 453px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 115px;
	margin-bottom: 50px;
	padding-left: 145px;
	padding-right: 66px;
}
.nowe_menu ul.menu1 p a,
.nowe_menu ul.menu2 p a {
	width: 240px;
}
.navigation_top,
.navigation2_top {
	margin-left: 90.4%;	
}
div.main {
	float: left;
	width: 732px;
	padding-left: 66px;
	padding-right: 66px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 96.3%;
}
div.others {
	float: left;
	width: 25%;/*32%;*/
	margin-top: 73px;
	margin-bottom: 50px;
	padding-left: 66px;
	padding-right: 0px;	
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;/*24px;*/
	margin-bottom: 20px;	
}
div.footer {
	width: 732px;
	margin-left: 453px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 498px;
	width: 1097px;
	padding-right: 0px;
}
}

@media (max-width: 1600px) and (min-width: 1441px) {
div#logo {
	float: left;	
	width: 988px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	width: 377px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 115px;
	margin-bottom: 50px;
	padding-left: 98px;
	padding-right: 40px;	
}
.nowe_menu ul.menu1 p a,
.nowe_menu ul.menu2 p a {
	width: 240px;
}
.navigation_top,
.navigation2_top {
	margin-left: 90.2%;	
}
div.main {
	float: left;
	width: 610px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 96.2%;
}
div.others {
	float: left;
	width: 30%;/*26%;*/
	margin-top: 73px;
	margin-bottom: 50px;
	padding-left: 40px;
	padding-right: 20px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 610px;
	margin-left: 377px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 396px;
	width: 924px;
	padding-right: 0px;
}
}


@media (max-width: 1440px) and (min-width: 1281px) {
div#logo {
	float: left;	
	width: 889px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
.navigation_top,
.navigation2_top {
	margin-left: 89.4%;	
}
div.nowe_menu {
	width: 340px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 115px;
	margin-bottom: 50px;
	padding-left: 85px;
	padding-right: 15px;	
}
.nowe_menu ul.menu1 p a,
.nowe_menu ul.menu2 p a {
	width: 240px;
}
div.main {
	float: left;
	width: 548px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 96.0%;
}
div.others {
	float: left;
	width: 26%;
	margin-top: 73px;
	margin-bottom: 50px;
	padding-left: 15px;
	padding-right: 20px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 548px;
	margin-left: 340px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 337px;
	width: 853px;
	padding-right: 0px;
}
}

@media (max-width: 1280px) and (min-width: 1025px) {
div#logo {
	float: left;	
	width: 790px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	width: 303px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 115px;
	margin-bottom: 50px;
	margin-left: 0px;
	padding-left: 48px;
	padding-right: 15px;	
}
.nowe_menu ul.menu1 p a,
.nowe_menu ul.menu2 p a {
	width: 240px;
}
.navigation_top,
.navigation2_top {
	margin-left: 87.6%;	
}
div.main {
	float: left;
	width: 486px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.2%;
}
div.others {
	float: left;
	width: 21.5%;
	margin-top: 73px;
	margin-bottom: 50px;
	padding-left: 15px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 486px;
	margin-left: 303px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 298px;
	width: 768px;
	padding-right: ;
}
}

@media (max-width: 1280px) and (min-width: 1073px) {
div.others {
	float: left;
	width: 21.5%;
	margin-top: 73px;
	margin-bottom: 50px;
	padding-left: 15px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
}

@media (max-width: 1024px) and (min-width: 961px) {
div#logo {
	float: left;	
	width: 631px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	/*width: 303px;*/
	margin-top: 50px;
	margin-bottom: 50px;
	width: 620px;/*63%;/*95%;*/
	padding-left: 40px;
	padding-right: 15px;
	margin-left: 0px;
	margin-right: 0px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 200px;/*40%;*/
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	float: left;
	padding-top: 32px;
	width: 250px;/*55%;*/
	margin-left: 0px;
}
.navigation_top,
.navigation2_top {
	margin-left: 90.1%;	
}
div.main {
	clear: both;
	width: 631px;
	padding-left: 40px;
	padding-right: 15px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: none;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.2%;
}
div.others {
	float: left;
	width: 33%;/*36%;*/
	margin-top: 50px;/*52px;*/
	margin-bottom: 50px;
	padding-left: 15px;
	padding-right: 0px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 590px;
	margin-left: 40px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 20px;
	width: 595px;
	padding-right: 0px;
}
}


@media (max-width: 960px) and (min-width: 768px) {/*bylo 769px*/
div#logo {
	float: left;	
	width: 592px;/*592px+1px*=!593 podstawa*/
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	/*width: 291px;*/
	margin-top: 50px;
	margin-bottom: 50px;
	width: 580px;/*68%;/*95%;*/
	padding-left: 40px;
	padding-right: 15px;
	margin-left: 0px;
	margin-right: 0px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 200px;/*40%;*/
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	float: left;
	padding-top: 32px;
	width: 250px;/*55%;*/
	margin-left: 0px;
}
.navigation_top,
.navigation2_top {
	margin-left: 89.4%;	
}
div.main {
	clear: both;
	width: 593px;
	padding-left: 40px;
	padding-right: 15px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: none;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.9%;
}

div.others {
	float: left;
	width: 25.7%;/*33%;*/
	margin-top: 50px;/*52px;*/
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 0px;
}
div.footer {
	width: 553px;
	margin-left: 40px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 20px;
	width: 556px;
	padding-right: 0px;
}
}


@media (max-width: 820px) and (min-width: 703px) {/*wartosc 762!!!!*/
div#logo {
	float: left;	
	width: 475px;/*592px+1px*=!593 podstawa*/
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	width: 475px;/*100%;/*59.5%;/*95%;*/
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 186px;/*40%;*/
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	float: left;
	padding-top: 32px;
	padding-right: 0px;
	width: 239px;/*55%;*/
	margin-left: 0px;
}
.navigation_top,
.navigation2_top {
	margin-left: 87.1%;	
}
div.main {
	float: left;
	width: 475px;
	padding-left: 20px;
	padding-right: 15px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: none;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.1%;
}
div.others {
	float: left;
	width: 30%;
	margin-top: 50px;/*52px;*/
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 0px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
div.footer {
	width: 455px;
	margin-left: 20px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 0px;
	width: 440px;
	padding-right: 0px;
}
}*/


@media (max-width: 768px) and (min-width: 601px) {
div#logo {
	float: left;	
	width: 475px;
	margin-left: 0px;
	border-right: 1px solid #CCCCCC;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: right;
}
#language {
	margin-top: 28px;
}
div.nowe_menu {
	margin-top: 0px;
	margin-bottom: 50px;
	width: 480px;/*100%;/*95%;*/
	padding-left: 20px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 200px;/*40%;*/
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	float: left;
	padding-top: 32px;
	width: 240px;/*55%;*/
	margin-left: 0px;
}
.navigation_top,
.navigation2_top {
	margin-left: 87.1%;	
}
div.main {
	float: left;
	width: 475px;
	padding-left: 20px;
	padding-right: 15px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-left: none;
	border-right: 1px solid #CCCCCC;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.1%;
}
div.others {
	float: left;
	width: 30%;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 0px;
}
div.others_info {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 455px;
	margin-left: 20px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 0px;
	width: 438px;
	padding-right: 0px;
}
}
@media (max-width: 703px) and (min-width: 601px) {
div#logo {
	float: left;	
	width: 100%;
	margin-left: 0px;
	border-right: none;
	text-align: center;
}
h1 {
	margin-left: 0px;
	margin-right: 10px;
	text-align: center;
}
#language {
	margin-top: 2px;
}
div.nowe_menu {
	/*margin-top: 0px;*/
	margin-bottom: 50px;
	width: 100%;/*95%;*/
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
.main_index {
	margin-top: 0px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 200px;/*40%;*/
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	float: left;
	padding-top: 32px;
	width: 250px;/*55%;*/
	margin-left: 0px;
}
.navigation_top,
.navigation2_top {
	margin-left: 90.6%;	
}
div.main {
	clear: both;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	border-left: none;
	border-right: none;
}
.navigation_bottom {
	margin-left: 96.5%;
}
div.others {
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
div.others_info {
	clear: both;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 613px;
	margin-left: 20px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 0px;
	width: 568px;
	padding-right: 0px;
}
}

@media only screen (min-width: 600px) {
/*wzorcowy sukinkot- nie ruszac, ustawiac wzornik w stylach podstawowych*/

}


@media (max-width: 600px) and (min-width: 481px) {
.container {
	width: 100%;
}
div#logo {
	float: left;	
	width: 100%;
	margin-left: 0px;
	border-right: none;
	text-align: center;
}
#language {
	margin-top: 2px;
}
div.nowe_menu {	
	width: 100%;/*95%;*/
	padding-left: 20px;
	padding-right: 20px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 40%;
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	float: left;
	padding-top: 32px;
	width: 56%;
	margin-left: 0px;
}
.navigation_top,
.navigation2_top {
	margin-left: 88.8%;	
}
div.main {
	clear: both;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 20px;
	border-left: none;
	border-right: none;
}
.main_index {
	margin-top: 0px;
}
img.image  {
	width: 100%;	
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.8%;
}
div.others {
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
div.others_info {
	clear: both;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
div.footer {
	width: 93.8%;
	margin-left: 20px;
	margin-right: 20px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
#cookie-warn p {
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
}
}


@media (max-width: 480px) {
.container {
	width: 100%;
}
div#logo {
	float: left;	
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}
h1 {
	margin-top: 5px;	
	margin-left: 0px;
	margin-right: 0px;
	font-size: 220%;
	padding-top: 3px;
}
#language {
	margin-top: 2px;
}
div.nowe_menu {
	width: 100%;/*95%;*/
	padding-left: 15px;
	padding-right: 15px;
}
.nowe_menu ul.menu1 {
	float: left;
	width: 100%;
	margin-left: 0px;
}
.nowe_menu ul.menu2 {
	clear: both;
	padding-top: 0px;
	width: 100%;
	margin-left: 0px;
}
.nowe_menu ul.menu1 p a,
.nowe_menu ul.menu2 p a {
	width: auto;
}
.navigation_top,
.navigation2_top {
	margin-left: 85.2%;	
}
div.main {
	clear: both;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	margin-left: 0px;
	margin-bottom: 20px;
	border-left: none;
	border-right: none;
}
.main_index {
	margin-top: 0px;
}
img.image  {
	width: 100%;
}
img.image_index  {
	width: 100%;
}
.navigation_bottom {
	margin-left: 95.2%;
}
div.others {
	clear: both;
	width: 100%;
	padding-left: 15px;
	margin-top: 0px;
	margin-bottom: 20px;
}
div.others_info {
	clear: both;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 20px;	
}
.idea {
	clear: both;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 10px;
	margin-bottom: 20px;	
}
div.footer {
	width: 94%;	
	margin-left: 15px;
	margin-right: 0px;
}
#cookie-warn {
	width: 100%;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
#cookie-warn p {
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
}
}
@media (max-width: 320px) {
h1 {
	margin-top: 7px;	
	margin-left: 0px;
	margin-right: 0px;
	font-size: 149%;
	padding-top: 3px;
}
.navigation_top,
.navigation2_top {
	margin-left: 80.6%;	
}
.navigation_bottom {
	margin-left: 92.6%;
}
div.footer {
	width: 91%;	
	margin-left: 15px;
	margin-right: 0px;
}
#cookie-warn {
	height: 100px;
	width: auto;
	position: fixed;
	bottom: 0;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-bottom: 20px;

}
#cookie-warn p {
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
	margin-top: 8px;
}
}